<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sheep_down_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,87}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,61},{224,87}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,367},{152,103}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{152,103}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{166,105}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,30},{166,105}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,472},{144,151}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{144,151}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,351},{154,131}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{154,131}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,260},{160,105}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{160,105}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{152,115}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{152,115}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_jump_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,119},{148,139}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,12},{148,139}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_run_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,236},{168,113}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{168,113}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,119},{176,115}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,20},{176,115}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{178,115}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{178,115}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{178,113}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,22},{178,113}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
            <key>sheep_touch_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{174,127}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{174,127}}</string>
                <key>sourceSize</key>
                <string>{228,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheep.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7b82875050232ffbd24deccd7e379b7:847cb78fe45f863139518baf3831526a:13084b924613a7ef2ca9c6df3339651b$</string>
            <key>textureFileName</key>
            <string>sheep.png</string>
        </dict>
    </dict>
</plist>
