<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{71,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attention.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{71,97},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{167,113},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,68}</string>
                <key>spriteSourceSize</key>
                <string>{194,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,57}</string>
                <key>spriteSourceSize</key>
                <string>{195,57}</string>
                <key>textureRect</key>
                <string>{{1,197},{195,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,57}</string>
                <key>spriteSourceSize</key>
                <string>{195,57}</string>
                <key>textureRect</key>
                <string>{{198,197},{195,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,68}</string>
                <key>spriteSourceSize</key>
                <string>{194,68}</string>
                <key>textureRect</key>
                <string>{{198,1},{194,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cancel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{268,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>panelBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,30}</string>
                <key>spriteSourceSize</key>
                <string>{27,30}</string>
                <key>textureRect</key>
                <string>{{167,60},{27,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>question.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{268,97},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>restart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{364,1},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scrollview_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,57}</string>
                <key>spriteSourceSize</key>
                <string>{19,57}</string>
                <key>textureRect</key>
                <string>{{167,1},{19,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scrollview_barBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,22}</string>
                <key>spriteSourceSize</key>
                <string>{19,22}</string>
                <key>textureRect</key>
                <string>{{167,92},{19,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scrollview_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{167,129},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{364,97},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{459,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2229fe3a6f9e45cacc3eefcc25057d57:6be734f29434cf8c8d4f63eae3102f27:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
